.site-header {
  padding: 20px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #hamburger-bar:checked {
    + .hamburger-icons {
      #open {
        display: none;
      }

      #close {
        display: block;
      }
    }

    ~ .sitenav .sitenav__list {
      right: 0;
    }
  }

  #open,
  #close {
    font-size: 40px;
    position: fixed;
    right: 10px;
    top: 40px;
    color: $red;
    background-color: $black;
    border-radius: 5px;
    z-index: 101;
    display: none;
  }

  #open {
    @media only screen and (max-width: $mobile) {
      display: block;
    }
  }

  .sitenav {
    &__list {
      display: flex;
      gap: 32px;
      align-items: center;

      @media only screen and (max-width: $mobile) {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
        width: 65%;
        height: 100vh;
        background-color: $red;
        position: fixed;
        top: 0;
        right: -100%;
        padding: 20px 0 0 40px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 12px 18px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
        transition: 1s ease;
      }
    }

    &__link {
      color: $gray;

      @media only screen and (max-width: $mobile) {
        color: $white;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    &__help-input {
      border: none;
      border-bottom: 1px solid $gray;
      padding: 5px;
      max-width: 150px;
      background-color: transparent;

      @media only screen and (max-width: $mobile) {
        display: none;
      }
    }
  }
}
