.services-section {
  margin-top: 100px;
  background: url(../../images/runners.jpg) no-repeat center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  padding: 250px 0 0;

  @media only screen and (max-width: $desktop) {
    padding: 150px 20px 0;
  }

  @media only screen and (max-width: $tablet-l) {
    padding: 100px 20px 0;
  }

  @media only screen and (max-width: $mobile) {
    padding: 40px 0 0;
  }

  &__content {
    width: 40%;
    margin-left: auto;

    @media only screen and (max-width: $tablet-l) {
      width: 60%;
    }

    @media only screen and (max-width: $tablet) {
      width: 100%;
      text-align: center;
    }

    @media only screen and (max-width: $mobile) {
      width: 100%;
      padding: 0 20px;
    }
  }

  &__title {
    font-size: 40px;
    color: $white;
    line-height: 1.2;

    @media only screen and (max-width: $tablet-l) {
      font-size: 32px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 28px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 22px;
    }
  }

  &__description {
    color: $white;
    font-weight: 500;
    text-shadow: 3px 3px 15px $black;
    margin-top: 50px;
    padding-left: 40px;
    border-left: 2px solid $white;
    margin-bottom: 60px;

    @media only screen and (max-width: $tablet-l) {
      margin: 30px;
    }

    @media only screen and (max-width: $tablet) {
      margin-bottom: 25px;
      border: none;
      padding: 0;
    }

    @media only screen and (max-width: $mobile) {
      margin: 18px 0;
    }
  }
}
